# don't track data and output files
analysis/data/*
analysis/output/temp/*
analysis/output/graphs/*


# filetypes:
*-blx.bib
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.indgit
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdf
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*tex.bak
*.tmproj
*.toc
*.ttt
*.vrb
.waf*
waf-*
waf3-*
*latexmk
*synctex.gz
.*
!.gitignore


#!.environment.osx.yml
#!.environment.windows.yml
#!.environment.linux.yml
#!.env
#.*pdfsvn
#__pycache__
#analysis_out
#bld
#build
#debug
#Debug
#final_out
#formatted_data
#project_documentation
#scons.py
#test
#Test
#textmatetostata.do
#fake
#full
#~$*
#Thumbs.db
#___*

#!.mywaflib
#.env/workaround.bat
#.env/installed_conda_pkgs
#.env/installed_pip_pkgs
#.env/installed_spec.json



TeX/_paper/ecca_edited.bst

Forschungsliteratur/

Hintergrundinfos/

SAW_Antrag/

Treffen/

analysis/prog/prepare/archive/

analysis/prog/analysis/descriptives.do

analysis/prog/analysis/graphs.do

analysis/prog/analysis/maps_Alina.do

analysis/prog/prepare/Append.do

analysis/prog/prepare/append_strikes_new.do

analysis/prog/prepare/append_strikes.do

analysis/prog/prepare/maps.do

analysis/prog/prepare/PLZ_aggregation.do

analysis/prog/prepare/Untitled1.do

analysis/prog/prepare/weather_do.do

*.synctex

Administratives/

TeX/presentations/PPT_christmas_conference_AB_fabel.pptx

analysis/prog/analysis/z_log/

analysis/prog/prepare/greta_cons_prepare_qgis.py
